*{
margin: 0;
padding: 0;
font-family: 'Nunito', sans-serif;
overflow: auto;
color: #222;

}
.bg{
    max-width: 100%;
    background-image: url("img/forest2.jpg");
    height: 900px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.loader{
    display: block;
    position: absolute;
    width: 4rem;
    height: 4rem;
    margin: -2rem;
    border: 5px solid rgb(211, 211, 211);  
    border-top: 5px solid #C6884E;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    animation: spinner 1.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
.load{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: white;
}
.head{
    margin: 0 auto;
    max-width: 70%;
}
.title{
    text-align: center;
    margin-top: 2rem;       
}
.secondary-title{
    text-align: center;
margin-top: 1rem;
}
.border{
    border-bottom: 1px solid rgb(134, 134, 134);
    margin-top: 0.2rem;
}
#time{
    text-align: center;
    margin-top: 1rem;
}

.list-container{
    display: block;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255,255,255,0.6);
}

table{
    width: 100%;    
}
th{
    padding: 0.7rem;
    border-bottom: 1px solid #222;
}
td{
    padding: 0.7rem;
    border-right: 1px solid #222;
}
@keyframes spinner{
   0%{transform: rotate(0deg);}
   100%{transform: rotate(360deg);}

}