*{
margin: 0;
padding: 0;
font-family: 'Nunito', sans-serif;
overflow: auto;
color: #222;

}
.bg{
    position: relative;
    max-width: 100%;
    background-image: url("img/forest2.jpg");
    min-height: 100vh;
    height: 1000px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.loader{
    display: block;
    position: absolute;
    width: 4rem;
    height: 4rem;
    margin: -2rem;
    border: 5px solid rgb(211, 211, 211);  
    border-top: 5px solid #C6884E;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    animation: spinner 1.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    -webkit-animation: spinner 1.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    -o-animation: spinner 1.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;;
}
.load{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: white;
}
.head{
    margin: 0 auto;
    max-width: 70%;
}
.title{
    text-align: center;
    margin-top: 2rem;       
}
.secondary-title{
    text-align: center;
margin-top: 1rem;
}
.border{
    border-bottom: 1px solid rgb(134, 134, 134);
    margin-top: 0.2rem;
}
#time{
    text-align: center;
    margin-top: 1rem;
}

.list-container{
    display: block;
    width: 70%;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255,0.7);
    padding: 2rem;
    overflow: visible;
}

table{
    width: 100%;    
}
tr{
    transition: all 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition: all 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: all 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    /*background-color: rgba(78, 255, 24, 0.473);*/

}
th{
    padding: 0.7rem;
    border-bottom: 1px solid #222;
}
td{
    transition: all 1.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition: all 1.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: all 1.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    padding: 0.7rem;

}
td:not(:last-child){
    border-right: 1px solid #222;
}

td:first-of-type{
    border-left: 1px solid #222;
}

.complete, .erase{
    display: inline-block;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
} 
.complete{
    font-size: 1.1rem;
    margin-right: 0.5rem;
}
.erase:hover{
    color: rgba(255, 70, 70, 0.836);
    cursor: pointer;
    font-size: 1.1rem;

}
.complete:hover{
    color: rgba(78, 255, 24, 0.932);
    cursor: pointer;
    font-size: 1.2rem;
}
.task-completed{
    text-decoration: line-through;
    background-color: rgba(78, 255, 24, 0.4);
}
#add{
    color: rgba(255,255,255,0.9);
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
    background: #222;
}
#add:hover{
    background: rgba(34,34,34, 0.8);
    color: rgba(255,255,255,1);
    cursor: pointer; 
}
#add-task{
    color: rgba(255,255,255,0.9);
    display: block;
    width: 8rem;
    margin-top: 1.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
    background: #222;
}
#add-task:hover{
    background: rgba(34,34,34, 0.8);
    color: rgba(255,255,255,1);
    cursor: pointer; 
}
textarea{
    resize: none;
    background: rgba(0,0,0,0);
    border: none;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: white;
}

@keyframes spinner{
   0%{transform: rotate(0deg);}
   100%{transform: rotate(360deg);}

}

@media screen and (max-width: 900px){
    table{
        font-size: 0.8rem;
    }
   
    textarea{
        width: 3rem;
    }
    td{
        padding: 0.2rem;
        font-size: 0.7rem;
        max-width: 2rem;
        word-wrap: break-word
        }
    .bg{
        background-attachment: scroll;
    }
    #add{
        padding: 0.2rem;
    }

.list-container{
    width: 80%;
    padding: 0.7rem;
    top: 40%;
}
}